.slides {
    display: table;
    height: 100%;
    width: 100%;
}

.slide {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 50px 200px;
    font-size: 50px;

    h1, .h1 {
        line-height: 1.3em;
        letter-spacing: -1px;
        margin-bottom: -1px;

        &.normal {
            font-size: 100px;
        }

        &.large {
            font-size: 40px;
        }

        &.x-large {
            text-align: left;
            font-size: 25px;
        }


    }

    &.image img {
        max-width: 100%;
        border: 1px solid #666;
        padding: 2px;
    }
}
